<?xml version="1.0" encoding="UTF-8"?>
<suite name="OrangeHRM Test Suite">
    <listeners>
        <listener class-name="listerners.ExtentReportListerner"/>
    </listeners>
    <test name="AddEmployeeTest">
        <classes>
            <class name="scripts.AddEmployeeTest"/>
        </classes>
    </test>
    <test name="LoginTest">
        <classes>
            <class name="scripts.LoginTest"/>
        </classes>
    </test>
    <test name="VerifyEmployeeTest">
        <classes>
            <class name="scripts.VerifyEmployeeTest"/>
        </classes>
    </test>
</suite>
